/*----- основа  -----*/
* { padding: 0; margin: 0; outline: 0; }

body {
    font-size: 15px;
    line-height: 1.2;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #a0a0a0;
    background: url(images/bg.gif) repeat 0 0;
    text-align: left;
}


.cl {
    height: 0;
    clear: both; }
/*----- основа -----*/

/* !!!!!!!--------- КАРТИНКИ В #main-content СТРОГО 270x136 ---------!!!!!!! */

.page { padding-bottom: 30px; padding-top: 30px; width: 914px; margin: 0 auto; }

.header { margin-bottom: 5px; }

.logo { text-transform: uppercase; line-height: 1; padding-bottom: 15px; }
.logo h1 { font-family: "Trebuchet MS", Arial, sans-serif; font-weight: bold; font-size: 30px; color: #fff; }
.logo h1 span { color: #7ab7e2; }
.logo .description { font-size: 10px; color: #cfd2d9; }

#main-nav { float: right; line-height: 32px; background: url(images/main-nav-bg.gif) repeat-x 0 0; }
#main-nav .bg-right { background: url(images/main-nav-bg-right.gif) no-repeat right 0; }
#main-nav .bg-left { background: url(images/main-nav-bg-left.gif) no-repeat 0 0; padding-left: 32px; width: 676px; }
#main-nav ul { height: 32px; font-size: 10px; color: #a8a8a8; text-transform: uppercase; }
#main-nav ul li { float: left; list-style-type: none; background: url(images/main-nav-sep.gif) no-repeat right 0; }
#main-nav ul li a { float: left; text-decoration: none; color: #a8a8a8; padding: 0 11px 0 9px; }
#main-nav ul li a:hover { text-decoration: underline; }

#sort-nav { line-height: 46px; background: url(images/sort-nav-bg.gif) repeat-x 0 0; }
#sort-nav .bg-left { background: url(images/sort-nav-bg-left.gif) no-repeat 0 0; position: relative; height: 46px; }
#sort-nav .bg-right { background: url(images/sort-nav-bg-right.gif) no-repeat right 0; position: relative; height: 46px; }
#sort-nav ul li { float: left; list-style-type: none; height: 46px; }
#sort-nav ul li a { float: left; font-size: 13px; font-weight: bold; color: #282828; text-decoration: none; padding: 0 19px; }
#sort-nav ul li span.sep { float: left; width: 2px; height: 46px; font-size: 0; line-height: 0; background: url(images/sort-nav-sep.gif); }
#sort-nav ul li a:hover { text-decoration: underline; }
#sort-nav ul li.active a { color: #fff; text-decoration: none; }
#sort-nav ul li.active a:hover { text-decoration: none; }
#sort-nav ul li.first-active a { background: url(images/nav-active-first.gif) no-repeat 0 0; }
#sort-nav ul li.active span.sep { background-image: url(images/nav-active-sep.gif); }
#sort-nav ul li.active { background: url(images/nav-active-bg.gif) repeat-x 0 0; }

#main { background: #050505 url(images/main-bg.gif) no-repeat 0 0; padding-top: 10px; }
#main-bot { background: url(images/main-bot-bg.gif) no-repeat 0 bottom; padding: 0 10px 2px 10px; height: 100%; position: relative; }
#sidebar { float: left; width: 226px; }
#content { float: right; width: 657px; }


.block { margin-bottom: 10px; background-repeat: no-repeat; background-position: 0 0; }
.block .block-bot { height: 100%; position: relative; background-repeat: no-repeat; background-position: 0 bottom; }
.block .block-cnt { padding: 14px 10px 16px 9px; }

.block .head { background: url(images/block-head.gif) no-repeat 0 0; padding-left: 15px; }
.block .head .head-cnt { background: url(images/block-head.gif) no-repeat right 0; line-height: 38px; height: 38px; padding-right: 13px; }
.block .head-bot { background: url(images/block-bot.gif) no-repeat right 0; line-height: 9px; height: 9px; padding-right: 13px; }
.block .head h3 { font-size: 15px; font-weight: bold; color: #262727; }
#main-content .block .head { background: url(images/main-block-head.gif) no-repeat 0 0;}
#main-content .block .head .head-cnt { background: url(images/main-block-head.gif) no-repeat right 0;}

#content .block { background-image: url(images/content-block-top.gif); background-color: #313131; width: 657px; }
#content .block .block-bot { background-image: url(images/content-block-bot.gif); }
#main-content .block { background-image: url(images/content-block-top.gif); background-color: #313131; width: 894px; }
#main-content .block .block-bot { background-image: url(images/main-content-block-bot.gif); }

#sidebar .block { background-image: url(images/sidebar-block-top.gif); background-color: #484848; width: 226px; }
#sidebar .block .block-bot { background-image: url(images/sidebar-block-bot.gif); }

#sidebar .articles .article { padding: 8px 7px; background: url(images/sidebar-article-sep.gif) repeat-x 0 bottom; font-size: 11px; color: #a0a0a0; }
#sidebar .articles h4 { color: #fff; font-weight: bold; font-size: 12px; }
#sidebar .articles h4 a { color: #fff; text-decoration: none; }
#sidebar .articles h4 a:hover { color: #ccc; }

#sidebar .image-articles .image { float: left; width: 55px; }
#sidebar .image-articles .image img { padding: 1px; border: solid 1px #1e1e1e; width: 48px; height: 63px; }
#sidebar .image-articles .cnt { float: right; width: 150px; }
#sidebar .score { color: #6c3; font-family: "Trebuchet MS", Arial, sans-serif; font-size: 13px; }

#sidebar .text-articles .article { padding: 8px 10px; font-size: 12px; }
#sidebar .text-articles h4 { font-size: 13px; }



#main-content .articles h4 { font-size: 20px; font-weight: bold; color: #ccc; margin: 4px 0 2px; }
#main-content .articles h4 a { text-decoration: none; color: #ccc; }
#main-content .articles h4 a:hover { color: #fff; }



#main-content .row-articles .article { padding: 10px 15px 12px 15px; background: url(images/content-article-sep.gif) repeat-x 0 bottom; }
#main-content .row-articles .cnt .bot { font-size: 13px;}
#main-content .row-articles .article .author { float: left; }
#main-content .row-articles .article .views { float: right; padding-right:28px;}
#main-content .row-articles .last-article { background: none; }
#main-content .row-articles .image { float: left; }
#main-content .row-articles .image img { float: left; width: 250px; padding: 1px; border: solid 2px #e4e4e4; }
#main-content .row-articles .cnt { float: right; margin-right:36px; width: 520px; }
#main-content .row-articles h4 { margin-top: 1px; line-height: 26px; }
#main-content .row-articles h4 a { color: #e4e4e4; }


#slider { width: 638px; height: 357px; position: relative; }
#slider .buttons { position: absolute; top: 250px; right: 15px; z-index: 101; }
#slider .buttons span { float: left; width: 28px; height: 27px; font-size: 0; line-height: 0; cursor: pointer; margin-left: 2px; }
#slider .buttons span.prev { background: url(images/button-prev.png) no-repeat 0 0; }
#slider .buttons span.next { background: url(images/button-next.png) no-repeat 0 0; }
#slider .holder { width: 638px; height: 357px; position: relative; overflow: hidden; }
#slider .content { height: 357px; width: 10000px; position: absolute; top: 0; left: 0; }
#slider .fragment { float: left; width: 638px; height: 357px; list-style-type: none; }
#slider .fragment .image { position: relative; width: 638px; height: 287px; }
#slider .frame { width: 638px; height: 287px; position: absolute; top: 0; left: 0; z-index: 100; background: url(images/slider-image-bg.png) no-repeat 0 0; }
#slider .frame { font-size: 0; line-height: 0;}
#slider .fragment .cnt { margin-top: 5px; height: 49px; background: url(images/slider-cnt-bg.gif) repeat-x; color: #fff; font-size: 11px; font-family: "Trebuchet MS", Arial, sans-serif; padding: 8px 15px; }
#slider .fragment .cnt .side-a { float: left; width: 150px; }
#slider .fragment .cnt .side-b { float: right; width: 430px;}
#slider .fragment .cnt h4 { font-size: 14px; font-weight: bold; color: #212121; text-transform: uppercase; margin-bottom: 3px; margin-top: 4px;}
#slider .fragment .cnt .rating li { float: left; list-style-type: none; font-size: 9px; color: #050505; text-transform: uppercase; margin-right: 1px; }
#slider .fragment .cnt .rating li .star { float: left; width: 15px; height: 15px; font-size: 0; line-height: 0; }
#slider .fragment .cnt .rating li .empty-star { background: url(images/empty-star.gif); }
#slider .fragment .cnt .rating li .full-star { background: url(images/full-star.gif); }
#slider .fragment .cnt .rating li .votes { font-size:11px; float: left; margin-top: 3px; margin-left: 4px; }
  
#footer .copy { font-size: 11px; color: #363636; text-align: right; padding: 20px 0; }
#footer .copy a{ color: #363636; text-decoration: none;}
#footer .navs { background: #222 url(images/footer-navs-top.gif) no-repeat 0 0; text-align: center; font-size: 10px; text-transform: uppercase; color: #656565; height: 100%; position: relative; }
#footer .navs .navs-bot { background: url(images/footer-navs-bot.gif) no-repeat 0 bottom; height: 100%; position: relative; }
#footer .navs ul { margin: 10px 0; }
#footer .navs ul li { list-style-type: none; display: inline; padding: 0 6px; }
#footer .navs ul li a { color: #656565; text-decoration: none; }
#footer .navs ul li a:hover { text-decoration: underline; }